# Movie ratings - Bayesian vaerage

In [1]:
import random
import pandas as pd

In [2]:
df = pd.read_csv("./ml-25m/ratings.csv")

In [3]:
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

## Ranking movies on arithmetic mean (average)

In [4]:
all_wa = df.groupby('movieId')["rating"].mean().sort_values(ascending=False)

## Ranking movies on Bayesian average

In [5]:
avg_rating = df['rating'].mean()

In [6]:
avg_count_rating = df.groupby("movieId")['rating'].count().mean()

In [7]:
count_ratings = df.groupby("movieId").count()['rating']

In [8]:
del count_ratings[175981]

In [9]:
adf = pd.DataFrame(count_ratings, columns=['rating'])

In [10]:
adf.rename(columns = {'rating':'ratings_count'}, inplace = True)

In [11]:
adf['avg_rating'] = df.groupby('movieId').mean()['rating']

In [12]:
adf['overall_avg_rating'] = avg_rating

In [13]:
adf['overall_avg_count_rating'] = avg_count_rating

In [14]:
adf['wa'] = all_wa

In [15]:
adf['w'] = adf['ratings_count']/(adf['overall_avg_count_rating'] + adf['ratings_count'])

In [16]:
adf['ba'] = adf['w'] * adf['avg_rating'] + (1-adf['w']) * adf['overall_avg_rating']

In [17]:
adf.head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,wa,w,ba
movieId,,,,,,,
1,57309,3.893708,3.533854,423.393144,3.893708,0.992666,3.891069
2,24228,3.251527,3.533854,423.393144,3.251527,0.982825,3.256376
3,11804,3.142028,3.533854,423.393144,3.142028,0.965373,3.155596
4,2523,2.853547,3.533854,423.393144,2.853547,0.856301,2.951307
5,11714,3.058434,3.533854,423.393144,3.058434,0.965117,3.075019

In [18]:
adf.sort_values('wa', ascending=False).head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,wa,w,ba
movieId,,,,,,,
136782,1,5.0,3.533854,423.393144,5.0,0.002356,3.537309
165745,1,5.0,3.533854,423.393144,5.0,0.002356,3.537309
197027,1,5.0,3.533854,423.393144,5.0,0.002356,3.537309
164787,2,5.0,3.533854,423.393144,5.0,0.004702,3.540748
164849,1,5.0,3.533854,423.393144,5.0,0.002356,3.537309

In [19]:
adf.sort_values('ba', ascending=False).head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,wa,w,ba
movieId,,,,,,,
318,81482,4.413576,3.533854,423.393144,4.413576,0.994831,4.409028
858,52498,4.324336,3.533854,423.393144,4.324336,0.992000,4.318012
159817,1747,4.464797,3.533854,423.393144,4.464797,0.804923,4.283192
50,55366,4.284353,3.533854,423.393144,4.284353,0.992411,4.278658
1221,34188,4.261759,3.533854,423.393144,4.261759,0.987767,4.252854

In [20]:
adf['diff'] = adf['wa'] - adf['ba']

In [21]:
adf[adf['ratings_count'] > 50].sort_values(['diff'], ascending=False)

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,wa,w,ba,diff
movieId,,,,,,,,
147290,62,4.153226,3.533854,423.393144,4.153226,0.127732,3.612968,0.540258
147250,147,4.251701,3.533854,423.393144,4.251701,0.257717,3.718856,0.532845
179173,104,4.168269,3.533854,423.393144,4.168269,0.197196,3.658959,0.509311
118085,71,4.112676,3.533854,423.393144,4.112676,0.143610,3.616979,0.495697
143511,88,4.130682,3.533854,423.393144,4.130682,0.172079,3.636556,0.494126
...,...,...,...,...,...,...,...,...
3574,135,1.274074,3.533854,423.393144,1.274074,0.241765,2.987518,-1.713444
5700,68,1.485294,3.533854,423.393144,1.485294,0.138382,3.250370,-1.765076
8859,208,0.899038,3.533854,423.393144,0.899038,0.329430,2.665866,-1.766828
4051,63,1.484127,3.533854,423.393144,1.484127,0.129525,3.268364,-1.784237
145096,59,1.118644,3.533854,423.393144,1.118644,0.122307,3.238458,-2.119814

In [29]:
adf.sort_values('ba', ascending=False).index.get_loc(1)

399