# Movie ratings - Bayesian vaerage

In [1]:
import random
import pandas as pd

In [2]:
df = pd.read_csv("./ml-latest-small/ratings.csv")
ndf = pd.read_csv("./ml-latest-small/movies.csv")

In [3]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

## Ranking movies on arithmetic mean (average)

In [4]:
all_aa = df.groupby('movieId')["rating"].mean().sort_values(ascending=False)

## Ranking movies on Bayesian average

In [5]:
avg_rating = df['rating'].mean()

In [6]:
avg_count_rating = df.groupby("movieId")['rating'].count().mean()

In [7]:
count_ratings = df.groupby("movieId").count()['rating']

In [8]:
# del count_ratings[175981]

In [9]:
adf = pd.DataFrame(count_ratings, columns=['rating'])

In [10]:
adf.rename(columns = {'rating':'ratings_count'}, inplace = True)

In [11]:
adf['avg_rating'] = df.groupby('movieId').mean()['rating']

In [12]:
adf['overall_avg_rating'] = avg_rating

In [13]:
adf['overall_avg_count_rating'] = avg_count_rating

In [14]:
adf['w'] = adf['ratings_count']/(adf['overall_avg_count_rating'] + adf['ratings_count'])

In [15]:
adf['aa'] = all_aa

In [16]:
adf['ba'] = adf['w'] * adf['avg_rating'] + (1-adf['w']) * adf['overall_avg_rating']

In [17]:
adf.head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba
movieId,,,,,,,
1,215,3.920930,3.501557,10.369807,0.953988,3.920930,3.901634
2,110,3.431818,3.501557,10.369807,0.913850,3.431818,3.437826
3,52,3.259615,3.501557,10.369807,0.833737,3.259615,3.299841
4,7,2.357143,3.501557,10.369807,0.402998,2.357143,3.040360
5,49,3.071429,3.501557,10.369807,0.825335,3.071429,3.146557

In [18]:
adf.sort_values('aa', ascending=False).head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba
movieId,,,,,,,
88448,1,5.0,3.501557,10.369807,0.087952,5.0,3.633348
100556,1,5.0,3.501557,10.369807,0.087952,5.0,3.633348
143031,1,5.0,3.501557,10.369807,0.087952,5.0,3.633348
143511,1,5.0,3.501557,10.369807,0.087952,5.0,3.633348
143559,1,5.0,3.501557,10.369807,0.087952,5.0,3.633348

In [19]:
adf.sort_values('ba', ascending=False).head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba
movieId,,,,,,,
318,317,4.429022,3.501557,10.369807,0.968324,4.429022,4.399644
858,192,4.289062,3.501557,10.369807,0.948758,4.289062,4.248709
2959,218,4.272936,3.501557,10.369807,0.954592,4.272936,4.237909
1221,129,4.259690,3.501557,10.369807,0.925595,4.259690,4.203281
50,204,4.237745,3.501557,10.369807,0.951627,4.237745,4.202133

In [20]:
adf['diff'] = adf['aa'] - adf['ba']

In [21]:
candidates = adf[(adf['ratings_count'] > 30)].sort_values(['diff'], ascending=False)[:50]

In [22]:
ndf[ndf.movieId.isin(list(candidates.index))][['movieId', 'title']]

      movieId                                              title
28         29  City of Lost Children, The (Cité des enfants p...
52         58                  Postman, The (Postino, Il) (1994)
228       265  Like Water for Chocolate (Como agua para choco...
681       899                         Singin' in the Rain (1952)
690       908                          North by Northwest (1959)
695       913                         Maltese Falcon, The (1941)
696       914                                My Fair Lady (1964)
742       969                          African Queen, The (1951)
824      1084                            Bonnie and Clyde (1967)
878      1172     Cinema Paradiso (Nuovo cinema Paradiso) (1989)
901      1199                                      Brazil (1985)
906      1204                          Lawrence of Arabia (1962)
929      1228                                 Raging Bull (1980)
933      1233                       Boot, Das (Boat, The) (1981)
941      1242                                       Glory (1989)
943      1244                                   Manhattan (1979)
948      1249                   Femme Nikita, La (Nikita) (1990)
949      1250               Bridge on the River Kwai, The (1957)
951      1252                                   Chinatown (1974)
960      1261                 Evil Dead II (Dead by Dawn) (1987)
961      1262                           Great Escape, The (1963)
965      1266                                  Unforgiven (1992)
971      1272                                      Patton (1970)
975      1276                              Cool Hand Luke (1967)
986      1287                                     Ben-Hur (1959)
1258     1673                               Boogie Nights (1997)
1494     2019        Seven Samurai (Shichinin no samurai) (1954)
1616     2160                             Rosemary's Baby (1968)
1711     2300                              Producers, The (1968)
2077     2761                             Iron Giant, The (1999)
2216     2944                            Dirty Dozen, The (1967)
2462     3275                        Boondock Saints, The (2000)
2743     3681  For a Few Dollars More (Per qualche dollaro in...
2765     3703               Road Warrior, The (Mad Max 2) (1981)
4151     5971       My Neighbor Totoro (Tonari no Totoro) (1988)
4165     5995                                Pianist, The (2002)
5366     8950                               The Machinist (2004)
5695    27773                                     Old Boy (2003)
5791    31658  Howl's Moving Castle (Hauru no ugoku shiro) (2...
6016    38061                         Kiss Kiss Bang Bang (2005)
6153    44195                       Thank You for Smoking (2006)
6165    44555  Lives of Others, The (Das leben der Anderen) (...
6676    57669                                   In Bruges (2008)
7014    68237                                        Moon (2009)
7060    69481                            Hurt Locker, The (2008)
7647    88163                        Crazy, Stupid, Love. (2011)
7802    92259                                Intouchables (2011)
8466   112552                                    Whiplash (2014)
8636   119145                Kingsman: The Secret Service (2015)
8990   139385                                The Revenant (2015)

In [23]:
ndf[ndf.movieId == 119145].title.values[0]

'Kingsman: The Secret Service (2015)'

In [24]:
adf[adf.index == 119145]
adf.aa.rank(pct=True)[119145],adf.ba.rank(pct=True)[119145]

(0.7656314273961333, 0.9744960921431509)

In [25]:
def all_positions(movieId):
    df = pd.read_csv("./ml-latest-small/ratings.csv")
    df_ratings_for_movie = df[df.movieId == movieId].sort_values('timestamp', ascending=False)
    df = df.drop(df[df.movieId == movieId].index)
    
    pos = []
    
    items_proc = 0
    count = 1
    itr = df_ratings_for_movie.itertuples()
    not_done = True
    while not_done:
        
        tuples = []
        for _ in range(count):
            try:
                t = next(itr)
                tuples.append(t)
            except StopIteration:
                not_done = False
                break
        
        items_proc += len(tuples)
        
        df = df.append(tuples, ignore_index=True)
        all_aa = df.groupby('movieId')["rating"].mean().sort_values(ascending=False)
        avg_rating = df['rating'].mean()
        avg_count_rating = df.groupby("movieId")['rating'].count().mean()
        count_ratings = df.groupby("movieId").count()['rating']
        adf = pd.DataFrame(count_ratings, columns=['rating'])
        adf.rename(columns = {'rating':'ratings_count'}, inplace = True)
        adf['avg_rating'] = df.groupby('movieId').mean()['rating']
        adf['overall_avg_rating'] = avg_rating
        adf['overall_avg_count_rating'] = avg_count_rating
        adf['w'] = adf['ratings_count']/(adf['overall_avg_count_rating'] + adf['ratings_count'])
        adf['aa'] = all_aa
        adf['ba'] = adf['w'] * adf['avg_rating'] + (1-adf['w']) * adf['overall_avg_rating']
        adf['ba_rank'] = adf.ba.rank(pct=True)
        adf['aa_rank'] = adf.aa.rank(pct=True)

        pos.append(adf[adf.index == movieId])
        
    return pos

poses = all_positions(119145)

In [26]:
pd.concat(poses)

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba,ba_rank,aa_rank
movieId,,,,,,,,,
119145,1,3.500000,3.501384,10.366207,0.087980,3.500000,3.501262,0.584070,0.565714
119145,2,4.250000,3.501399,10.366310,0.161730,4.250000,3.622470,0.828054,0.910222
119145,3,3.833333,3.501394,10.366413,0.224443,3.833333,3.575895,0.749537,0.725422
119145,4,3.875000,3.501399,10.366516,0.278425,3.875000,3.605419,0.810880,0.740693
119145,5,3.900000,3.501404,10.366619,0.325381,3.900000,3.631099,0.837567,0.747378
119145,6,3.750000,3.501399,10.366722,0.366598,3.750000,3.592535,0.802653,0.690868
119145,7,3.785714,3.501404,10.366824,0.403067,3.785714,3.616000,0.821524,0.708968
119145,8,3.812500,3.501409,10.366927,0.435566,3.812500,3.636909,0.870321,0.717400
119145,9,3.833333,3.501414,10.367030,0.464707,3.833333,3.655659,0.884718,0.725422
119145,10,3.950000,3.501428,10.367133,0.490987,3.950000,3.721671,0.926471,0.760335
119145,11,3.954545,3.501433,10.367236,0.514807,3.954545,3.734699,0.932281,0.761209
119145,12,4.000000,3.501443,10.367339,0.536497,4.000000,3.768917,0.944981,0.818490
119145,13,4.000000,3.501448,10.367441,0.556330,4.000000,3.778807,0.948324,0.818490
119145,14,4.071429,3.501463,10.367544,0.574535,4.071429,3.828928,0.962824,0.879576
119145,15,4.066667,3.501468,10.367647,0.591304,4.066667,3.835672,0.964161,0.878908
119145,16,4.125000,3.501483,10.367750,0.606802,4.125000,3.879834,0.975113,0.888163
119145,17,4.117647,3.501488,10.367853,0.621167,4.117647,3.884225,0.976039,0.886209
119145,18,4.111111,3.501493,10.367956,0.634519,4.111111,3.888307,0.977067,0.885798
119145,19,4.131579,3.501503,10.368058,0.646961,4.131579,3.909138,0.979535,0.889654
119145,20,4.125000,3.501508,10.368161,0.658584,4.125000,3.912130,0.980255,0.888163
119145,21,4.119048,3.501513,10.368264,0.669466,4.119048,3.914932,0.980564,0.886364
119145,22,4.113636,3.501518,10.368367,0.679676,4.113636,3.917560,0.980975,0.885952
119145,23,4.021739,3.501503,10.368470,0.689273,4.021739,3.860088,0.971308,0.871761
119145,24,4.041667,3.501513,10.368573,0.698312,4.041667,3.878709,0.974753,0.874897
119145,25,4.060000,3.501522,10.368675,0.706840,4.060000,3.896277,0.978044,0.877982
119145,26,4.076923,3.501532,10.368778,0.714899,4.076923,3.912879,0.980255,0.880502
119145,27,4.074074,3.501537,10.368881,0.722526,4.074074,3.915210,0.980564,0.880193
119145,28,4.071429,3.501542,10.368984,0.729756,4.071429,3.917420,0.980975,0.879576
119145,29,4.051724,3.501542,10.369087,0.736619,4.051724,3.906816,0.979432,0.876594
119145,30,3.950000,3.501517,10.369190,0.743141,3.950000,3.834803,0.963955,0.760335
119145,31,3.935484,3.501517,10.369292,0.749348,3.935484,3.826709,0.962258,0.756530
119145,32,3.937500,3.501522,10.369395,0.755262,3.937500,3.830800,0.963390,0.757147
119145,33,3.939394,3.501527,10.369498,0.760903,3.939394,3.834702,0.963852,0.757867
119145,34,3.941176,3.501532,10.369601,0.766290,3.941176,3.838427,0.965086,0.758176
119145,35,3.957143,3.501542,10.369704,0.771440,3.957143,3.853011,0.969868,0.761518
119145,36,3.986111,3.501557,10.369807,0.776367,3.986111,3.877749,0.974496,0.765631
119145,36,3.986111,3.501557,10.369807,0.776367,3.986111,3.877749,0.974496,0.765631