# Movie ratings - Bayesian vaerage

In [1]:
import random
import pandas as pd

In [2]:
df = pd.read_csv("./ml-latest-small/ratings.csv")
ndf = pd.read_csv("./ml-latest-small/movies.csv")

In [3]:
ndf = ndf.drop('genres', axis=1)

In [4]:
ndf = ndf.set_index('movieId')

In [5]:
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [6]:
ndf.head()

                                      title
movieId
1                          Toy Story (1995)
2                            Jumanji (1995)
3                   Grumpier Old Men (1995)
4                  Waiting to Exhale (1995)
5        Father of the Bride Part II (1995)

In [7]:
MOVIE_ID = 119145

In [8]:
all_aa_ratings_count_df = pd.DataFrame(df.groupby('movieId')["rating"].count())
all_aa_ratings_count_df.rename(columns = {'rating':'ratings_count'}, inplace = True)

In [9]:
all_aa = df.groupby('movieId').mean()

In [10]:
all_aa = all_aa.join(ndf).join(all_aa_ratings_count_df)

In [11]:
all_aa = all_aa.drop(['userId', 'timestamp'], axis=1)

## Ranking movies on arithmetic mean (average)

In [12]:
all_aa1 = all_aa.sort_values(['rating'], ascending=False)

In [13]:
all_aa1['rank'] = all_aa1.rating.rank(pct=True, ascending=True)

In [14]:
all_aa1[:10]

,rating,title,ratings_count,rank
movieId,,,,
88448,5.0,Paper Birds (PÃ¡jaros de papel) (2010),1,0.984831
100556,5.0,"Act of Killing, The (2012)",1,0.984831
143031,5.0,Jump In! (2007),1,0.984831
143511,5.0,Human (2015),1,0.984831
143559,5.0,L.A. Slasher (2015),1,0.984831
6201,5.0,Lady Jane (1986),1,0.984831
102217,5.0,Bill Hicks: Revelations (1993),1,0.984831
102084,5.0,Justice League: Doom (2012),1,0.984831
6192,5.0,Open Hearts (Elsker dig for evigt) (2002),1,0.984831
145994,5.0,Formula of Love (1984),1,0.984831

In [15]:
all_aa1[all_aa1.index == MOVIE_ID]

,rating,title,ratings_count,rank
movieId,,,,
119145,3.986111,Kingsman: The Secret Service (2015),36,0.765631

## Ranking movies on arithmetic mean and ratings count

In [16]:
all_aa2 = all_aa.sort_values(['rating', 'ratings_count'], ascending=False)

In [17]:
all_aa2['rank'] = all_aa2.rating.rank(pct=True, ascending=True)

In [18]:
all_aa2[:10]

,rating,title,ratings_count,rank
movieId,,,,
53,5.0,Lamerica (1994),2,0.984831
99,5.0,Heidi Fleiss: Hollywood Madam (1995),2,0.984831
1151,5.0,Lesson Faust (1994),2,0.984831
3473,5.0,Jonah Who Will Be 25 in the Year 2000 (Jonas q...,2,0.984831
6442,5.0,Belle Ã©poque (1992),2,0.984831
6818,5.0,Come and See (Idi i smotri) (1985),2,0.984831
78836,5.0,Enter the Void (2009),2,0.984831
148,5.0,"Awfully Big Adventure, An (1995)",1,0.984831
467,5.0,Live Nude Girls (1995),1,0.984831
495,5.0,In the Realm of the Senses (Ai no corrida) (1976),1,0.984831

In [19]:
all_aa2[all_aa2.index == MOVIE_ID]

,rating,title,ratings_count,rank
movieId,,,,
119145,3.986111,Kingsman: The Secret Service (2015),36,0.765631

## Ranking on cumulative score

In [20]:
all_ca1 = df.groupby('movieId').sum().sort_values(['rating'], ascending=False)

In [21]:
all_ca1 = all_ca1.drop(['userId', 'timestamp'], axis=1)

In [22]:
all_ca1['rank'] = all_ca1.rating.rank(pct=True, ascending=True)

In [23]:
all_ca1 = all_ca1.join(ndf).join(all_aa_ratings_count_df)

In [24]:
all_ca1[:10]

,rating,rank,title,ratings_count
movieId,,,,
318,1404.0,1.000000,"Shawshank Redemption, The (1994)",317
356,1370.0,0.999897,Forrest Gump (1994),329
296,1288.5,0.999794,Pulp Fiction (1994),307
2571,1165.5,0.999691,"Matrix, The (1999)",278
593,1161.0,0.999589,"Silence of the Lambs, The (1991)",279
260,1062.0,0.999486,Star Wars: Episode IV - A New Hope (1977),251
110,955.5,0.999383,Braveheart (1995),237
2959,931.5,0.999280,Fight Club (1999),218
527,929.5,0.999177,Schindler's List (1993),220
480,892.5,0.999074,Jurassic Park (1993),238

In [25]:
all_ca1[all_ca1.index == MOVIE_ID]

         rating      rank                                title  ratings_count
movieId
119145    143.5  0.937937  Kingsman: The Secret Service (2015)             36

## Ranking movies on Bayesian average

In [26]:
avg_rating = df['rating'].mean()

In [27]:
avg_count_rating = df.groupby("movieId")['rating'].count().mean()

In [28]:
count_ratings = df.groupby("movieId").count()['rating']

In [29]:
del count_ratings[MOVIE_ID]

In [30]:
adf = pd.DataFrame(count_ratings, columns=['rating'])

In [31]:
adf.rename(columns = {'rating':'ratings_count'}, inplace = True)

In [32]:
adf['avg_rating'] = df.groupby('movieId').mean()['rating']

In [33]:
adf['overall_avg_rating'] = avg_rating

In [34]:
adf['overall_avg_count_rating'] = avg_count_rating

In [35]:
adf['w'] = adf['ratings_count']/(adf['overall_avg_count_rating'] + adf['ratings_count'])

In [36]:
adf['aa'] = all_aa.rating

In [37]:
adf['ba'] = adf['w'] * adf['avg_rating'] + (1-adf['w']) * adf['overall_avg_rating']

In [38]:
adf['rank'] = adf.ba.rank(pct=True, ascending=True)

In [39]:
adf.sort_values('ba', ascending=False)[:10].join(ndf)

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba,rank,title
movieId,,,,,,,,,
318,317,4.429022,3.501557,10.369807,0.968324,4.429022,4.399644,1.000000,"Shawshank Redemption, The (1994)"
858,192,4.289062,3.501557,10.369807,0.948758,4.289062,4.248709,0.999897,"Godfather, The (1972)"
2959,218,4.272936,3.501557,10.369807,0.954592,4.272936,4.237909,0.999794,Fight Club (1999)
1221,129,4.259690,3.501557,10.369807,0.925595,4.259690,4.203281,0.999691,"Godfather: Part II, The (1974)"
50,204,4.237745,3.501557,10.369807,0.951627,4.237745,4.202133,0.999589,"Usual Suspects, The (1995)"
260,251,4.231076,3.501557,10.369807,0.960325,4.231076,4.202132,0.999486,Star Wars: Episode IV - A New Hope (1977)
750,97,4.268041,3.501557,10.369807,0.903420,4.268041,4.194014,0.999383,Dr. Strangelove or: How I Learned to Stop Worr...
1213,126,4.250000,3.501557,10.369807,0.923958,4.250000,4.193087,0.999280,Goodfellas (1990)
527,220,4.225000,3.501557,10.369807,0.954986,4.225000,4.192435,0.999177,Schindler's List (1993)
58559,149,4.238255,3.501557,10.369807,0.934932,4.238255,4.190320,0.999074,"Dark Knight, The (2008)"

In [40]:
adf[adf.index == MOVIE_ID]

Empty DataFrame
Columns: [ratings_count, avg_rating, overall_avg_rating, overall_avg_count_rating, w, aa, ba, rank]
Index: []

## Computing how rank changes as and when we see more ratings

In [41]:
def all_positions(movieId):
    df = pd.read_csv("./ml-latest-small/ratings.csv")
    df_ratings_for_movie = df[df.movieId == movieId].sort_values('timestamp', ascending=False)
    df = df.drop(df[df.movieId == movieId].index)
    
    pos = []
    
    items_proc = 0
    count = 1
    itr = df_ratings_for_movie.itertuples()
    not_done = True
    while not_done:
        
        tuples = []
        for _ in range(count):
            try:
                t = next(itr)
                tuples.append(t)
            except StopIteration:
                not_done = False
                break
        
        items_proc += len(tuples)
        
        df = df.append(tuples, ignore_index=True)
        all_aa = df.groupby('movieId')["rating"].mean().sort_values(ascending=False)
        avg_rating = df['rating'].mean()
        avg_count_rating = df.groupby("movieId")['rating'].count().mean()
        count_ratings = df.groupby("movieId").count()['rating']
        adf = pd.DataFrame(count_ratings, columns=['rating'])
        adf.rename(columns = {'rating':'ratings_count'}, inplace = True)
        adf['avg_rating'] = df.groupby('movieId').mean()['rating']
        adf['overall_avg_rating'] = avg_rating
        adf['overall_avg_count_rating'] = avg_count_rating
        adf['w'] = adf['ratings_count']/(adf['overall_avg_count_rating'] + adf['ratings_count'])
        adf['aa'] = all_aa
        adf['ba'] = adf['w'] * adf['avg_rating'] + (1-adf['w']) * adf['overall_avg_rating']
        adf['ba_rank'] = adf.ba.rank(pct=True)
        adf['aa_rank'] = adf.aa.rank(pct=True)

        pos.append(adf[adf.index == movieId])
        
    return pos

poses = all_positions(119145)

In [42]:
pd.concat(poses)

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba,ba_rank,aa_rank
movieId,,,,,,,,,
119145,1,3.500000,3.501384,10.366207,0.087980,3.500000,3.501262,0.584070,0.565714
119145,2,4.250000,3.501399,10.366310,0.161730,4.250000,3.622470,0.828054,0.910222
119145,3,3.833333,3.501394,10.366413,0.224443,3.833333,3.575895,0.749537,0.725422
119145,4,3.875000,3.501399,10.366516,0.278425,3.875000,3.605419,0.810880,0.740693
119145,5,3.900000,3.501404,10.366619,0.325381,3.900000,3.631099,0.837567,0.747378
119145,6,3.750000,3.501399,10.366722,0.366598,3.750000,3.592535,0.802653,0.690868
119145,7,3.785714,3.501404,10.366824,0.403067,3.785714,3.616000,0.821524,0.708968
119145,8,3.812500,3.501409,10.366927,0.435566,3.812500,3.636909,0.870321,0.717400
119145,9,3.833333,3.501414,10.367030,0.464707,3.833333,3.655659,0.884718,0.725422
119145,10,3.950000,3.501428,10.367133,0.490987,3.950000,3.721671,0.926471,0.760335
119145,11,3.954545,3.501433,10.367236,0.514807,3.954545,3.734699,0.932281,0.761209
119145,12,4.000000,3.501443,10.367339,0.536497,4.000000,3.768917,0.944981,0.818490
119145,13,4.000000,3.501448,10.367441,0.556330,4.000000,3.778807,0.948324,0.818490
119145,14,4.071429,3.501463,10.367544,0.574535,4.071429,3.828928,0.962824,0.879576
119145,15,4.066667,3.501468,10.367647,0.591304,4.066667,3.835672,0.964161,0.878908
119145,16,4.125000,3.501483,10.367750,0.606802,4.125000,3.879834,0.975113,0.888163
119145,17,4.117647,3.501488,10.367853,0.621167,4.117647,3.884225,0.976039,0.886209
119145,18,4.111111,3.501493,10.367956,0.634519,4.111111,3.888307,0.977067,0.885798
119145,19,4.131579,3.501503,10.368058,0.646961,4.131579,3.909138,0.979535,0.889654
119145,20,4.125000,3.501508,10.368161,0.658584,4.125000,3.912130,0.980255,0.888163
119145,21,4.119048,3.501513,10.368264,0.669466,4.119048,3.914932,0.980564,0.886364
119145,22,4.113636,3.501518,10.368367,0.679676,4.113636,3.917560,0.980975,0.885952
119145,23,4.021739,3.501503,10.368470,0.689273,4.021739,3.860088,0.971308,0.871761
119145,24,4.041667,3.501513,10.368573,0.698312,4.041667,3.878709,0.974753,0.874897
119145,25,4.060000,3.501522,10.368675,0.706840,4.060000,3.896277,0.978044,0.877982
119145,26,4.076923,3.501532,10.368778,0.714899,4.076923,3.912879,0.980255,0.880502
119145,27,4.074074,3.501537,10.368881,0.722526,4.074074,3.915210,0.980564,0.880193
119145,28,4.071429,3.501542,10.368984,0.729756,4.071429,3.917420,0.980975,0.879576
119145,29,4.051724,3.501542,10.369087,0.736619,4.051724,3.906816,0.979432,0.876594
119145,30,3.950000,3.501517,10.369190,0.743141,3.950000,3.834803,0.963955,0.760335
119145,31,3.935484,3.501517,10.369292,0.749348,3.935484,3.826709,0.962258,0.756530
119145,32,3.937500,3.501522,10.369395,0.755262,3.937500,3.830800,0.963390,0.757147
119145,33,3.939394,3.501527,10.369498,0.760903,3.939394,3.834702,0.963852,0.757867
119145,34,3.941176,3.501532,10.369601,0.766290,3.941176,3.838427,0.965086,0.758176
119145,35,3.957143,3.501542,10.369704,0.771440,3.957143,3.853011,0.969868,0.761518
119145,36,3.986111,3.501557,10.369807,0.776367,3.986111,3.877749,0.974496,0.765631
119145,36,3.986111,3.501557,10.369807,0.776367,3.986111,3.877749,0.974496,0.765631