# Movie ratings - Bayesian vaerage

In [1]:
import random
import pandas as pd

In [2]:
df = pd.read_csv("./ml-25m/ratings.csv")
ndf = pd.read_csv("./ml-25m/movies.csv")

In [3]:
df.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

## Ranking movies on arithmetic mean (average)

In [4]:
all_aa = df.groupby('movieId')["rating"].mean().sort_values(ascending=False)

## Ranking movies on Bayesian average

In [5]:
avg_rating = df['rating'].mean()

In [6]:
avg_count_rating = df.groupby("movieId")['rating'].count().mean()

In [7]:
count_ratings = df.groupby("movieId").count()['rating']

In [8]:
# del count_ratings[175981]

In [9]:
adf = pd.DataFrame(count_ratings, columns=['rating'])

In [10]:
adf.rename(columns = {'rating':'ratings_count'}, inplace = True)

In [11]:
adf['avg_rating'] = df.groupby('movieId').mean()['rating']

In [12]:
adf['overall_avg_rating'] = avg_rating

In [13]:
adf['overall_avg_count_rating'] = avg_count_rating

In [14]:
adf['w'] = adf['ratings_count']/(adf['overall_avg_count_rating'] + adf['ratings_count'])

In [15]:
adf['aa'] = all_aa

In [16]:
adf['ba'] = adf['w'] * adf['avg_rating'] + (1-adf['w']) * adf['overall_avg_rating']

In [17]:
adf.head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba
movieId,,,,,,,
1,57309,3.893708,3.533854,423.393144,0.992666,3.893708,3.891069
2,24228,3.251527,3.533854,423.393144,0.982825,3.251527,3.256376
3,11804,3.142028,3.533854,423.393144,0.965373,3.142028,3.155596
4,2523,2.853547,3.533854,423.393144,0.856301,2.853547,2.951307
5,11714,3.058434,3.533854,423.393144,0.965117,3.058434,3.075019

In [18]:
adf.sort_values('aa', ascending=False).head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba
movieId,,,,,,,
136782,1,5.0,3.533854,423.393144,0.002356,5.0,3.537309
186119,1,5.0,3.533854,423.393144,0.002356,5.0,3.537309
137032,1,5.0,3.533854,423.393144,0.002356,5.0,3.537309
184643,1,5.0,3.533854,423.393144,0.002356,5.0,3.537309
137038,1,5.0,3.533854,423.393144,0.002356,5.0,3.537309

In [19]:
adf.sort_values('ba', ascending=False).head()

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba
movieId,,,,,,,
318,81482,4.413576,3.533854,423.393144,0.994831,4.413576,4.409028
858,52498,4.324336,3.533854,423.393144,0.992000,4.324336,4.318012
159817,1747,4.464797,3.533854,423.393144,0.804923,4.464797,4.283192
50,55366,4.284353,3.533854,423.393144,0.992411,4.284353,4.278658
1221,34188,4.261759,3.533854,423.393144,0.987767,4.261759,4.252854

In [20]:
adf['diff'] = adf['aa'] - adf['ba']

In [21]:
candidates = adf[(adf['ratings_count'] > 30)].sort_values(['diff'], ascending=False)[:50]

In [22]:
ndf[ndf.movieId.isin(list(candidates.index))][['movieId', 'title']]

       movieId                                              title
9204     27423       O Auto da Compadecida (Dog's Will, A) (2000)
9845     32906                Ascent, The (Voskhozhdeniye) (1977)
11620    53226          Great War, The (Grande guerra, La) (1959)
11985    56372              Tokyo Twilight (T么ky么 boshoku) (1957)
15513    81736                             Hamlet (Gamlet) (1964)
17201    90341                               Catching Hell (2011)
17261    90592                        How to Die in Oregon (2011)
17534    91762                             Last Lions, The (2011)
22677   115969                              Generation War (2013)
23095   116975                              Long Way Round (2004)
23444   118085                  Welcome, or No Trespassing (1964)
23516   118302                         The Pokrovsky Gates (1983)
24397   121374                Bill Burr: Why Do I Do This? (2008)
26660   126927                      The Heart of the World (2000)
26779   127180              Story of Film: An Odyssey, The (2011)
29824   134796                                 Bitter Lake (2015)
30520   136477                          One Froggy Evening (1955)
31531   138835                   Return to Treasure Island (1988)
32827   141818                            Ordinary Miracle (1978)
33590   143511                                       Human (2015)
33608   143547  The Phantom of the Opera at the Royal Albert H...
33969   144382                   Jim Jefferies: Contraband (2008)
34661   145994                             Formula of Love (1984)
34667   146006                                High Rollers (1976)
34822   146327              Can't Change the Meeting Place (1979)
35198   147196                                   The Girls (1961)
35225   147250  The Adventures of Sherlock Holmes and Doctor W...
35244   147290                 Seventeen Moments in Spring (1973)
35262   147326  The Adventures of Sherlock Holmes and Doctor W...
35263   147328  The Adventures of Sherlock Holmes and Dr. Wats...
35264   147330  Sherlock Holmes and Dr. Watson: Acquaintance (...
39260   156781                   Jimmy Carr: Telling Jokes (2009)
39523   157373                   It's Such a Beautiful Day (2011)
40598   159819                                        Life (2009)
45973   171495                                             Cosmos
46047   171647                 Pink Floyd: Live at Pompeii (1972)
46503   172577                Last Year's Snow Was Falling (1983)
46965   173535  The Adventures of Sherlock Holmes and Doctor W...
47065   173735                                The Farthest (2017)
47439   174551                                   Obsession (1965)
47511   174703                        I Am So Proud of You (2008)
47828   175397         In the blue sea, in the white foam. (1984)
48016   175791                                       LA 92 (2017)
48110   175981                            Twelve Angry Men (1954)
49577   179173                           Rabbit of Seville (1950)
51245   182723                        Cosmos: A Spacetime Odissey
54653   190077                          The Wild Pear Tree (2018)
55927   193041                         One Cut of the Dead (2017)
57304   196067                               The Dawn Wall (2018)
58237   198185                                  Twin Peaks (1989)

In [23]:
ndf[ndf.movieId == 119145].title.values[0]

'Kingsman: The Secret Service (2015)'

In [33]:
adf[adf.index == 119145]
adf.aa.rank(pct=True)[119145],adf.ba.rank(pct=True)[119145]

(0.8789608278151303, 0.9861127576337494)

In [38]:
def all_positions(movieId):
    df = pd.read_csv("./ml-latest-small/ratings.csv")
    df_ratings_for_movie = df[df.movieId == movieId].sort_values('timestamp', ascending=False)
    df = df.drop(df[df.movieId == movieId].index)
    
    pos = []
    
    count = 10
    for x in df_ratings_for_movie.itertuples():
        df = df.append([x], ignore_index=True)

        all_aa = df.groupby('movieId')["rating"].mean().sort_values(ascending=False)
        avg_rating = df['rating'].mean()
        avg_count_rating = df.groupby("movieId")['rating'].count().mean()
        count_ratings = df.groupby("movieId").count()['rating']
        adf = pd.DataFrame(count_ratings, columns=['rating'])
        adf.rename(columns = {'rating':'ratings_count'}, inplace = True)
        adf['avg_rating'] = df.groupby('movieId').mean()['rating']
        adf['overall_avg_rating'] = avg_rating
        adf['overall_avg_count_rating'] = avg_count_rating
        adf['w'] = adf['ratings_count']/(adf['overall_avg_count_rating'] + adf['ratings_count'])
        adf['aa'] = all_aa
        adf['ba'] = adf['w'] * adf['avg_rating'] + (1-adf['w']) * adf['overall_avg_rating']
        adf['ba_rank'] = adf.ba.rank(pct=True)
        adf['aa_rank'] = adf.aa.rank(pct=True)

        pos.append(adf[adf.index == movieId])
        
    return pos

poses = all_positions(119145)

In [39]:
len(poses)

36

In [40]:
pd.concat(poses)

,ratings_count,avg_rating,overall_avg_rating,overall_avg_count_rating,w,aa,ba,ba_rank,aa_rank
movieId,,,,,,,,,
119145,1,3.500000,3.501384,10.366207,0.087980,3.500000,3.501262,0.584070,0.565714
119145,2,4.250000,3.501399,10.366310,0.161730,4.250000,3.622470,0.828054,0.910222
119145,3,3.833333,3.501394,10.366413,0.224443,3.833333,3.575895,0.749537,0.725422
119145,4,3.875000,3.501399,10.366516,0.278425,3.875000,3.605419,0.810880,0.740693
119145,5,3.900000,3.501404,10.366619,0.325381,3.900000,3.631099,0.837567,0.747378
119145,6,3.750000,3.501399,10.366722,0.366598,3.750000,3.592535,0.802653,0.690868
119145,7,3.785714,3.501404,10.366824,0.403067,3.785714,3.616000,0.821524,0.708968
119145,8,3.812500,3.501409,10.366927,0.435566,3.812500,3.636909,0.870321,0.717400
119145,9,3.833333,3.501414,10.367030,0.464707,3.833333,3.655659,0.884718,0.725422
119145,10,3.950000,3.501428,10.367133,0.490987,3.950000,3.721671,0.926471,0.760335
119145,11,3.954545,3.501433,10.367236,0.514807,3.954545,3.734699,0.932281,0.761209
119145,12,4.000000,3.501443,10.367339,0.536497,4.000000,3.768917,0.944981,0.818490
119145,13,4.000000,3.501448,10.367441,0.556330,4.000000,3.778807,0.948324,0.818490
119145,14,4.071429,3.501463,10.367544,0.574535,4.071429,3.828928,0.962824,0.879576
119145,15,4.066667,3.501468,10.367647,0.591304,4.066667,3.835672,0.964161,0.878908
119145,16,4.125000,3.501483,10.367750,0.606802,4.125000,3.879834,0.975113,0.888163
119145,17,4.117647,3.501488,10.367853,0.621167,4.117647,3.884225,0.976039,0.886209
119145,18,4.111111,3.501493,10.367956,0.634519,4.111111,3.888307,0.977067,0.885798
119145,19,4.131579,3.501503,10.368058,0.646961,4.131579,3.909138,0.979535,0.889654
119145,20,4.125000,3.501508,10.368161,0.658584,4.125000,3.912130,0.980255,0.888163
119145,21,4.119048,3.501513,10.368264,0.669466,4.119048,3.914932,0.980564,0.886364
119145,22,4.113636,3.501518,10.368367,0.679676,4.113636,3.917560,0.980975,0.885952
119145,23,4.021739,3.501503,10.368470,0.689273,4.021739,3.860088,0.971308,0.871761
119145,24,4.041667,3.501513,10.368573,0.698312,4.041667,3.878709,0.974753,0.874897
119145,25,4.060000,3.501522,10.368675,0.706840,4.060000,3.896277,0.978044,0.877982
119145,26,4.076923,3.501532,10.368778,0.714899,4.076923,3.912879,0.980255,0.880502
119145,27,4.074074,3.501537,10.368881,0.722526,4.074074,3.915210,0.980564,0.880193
119145,28,4.071429,3.501542,10.368984,0.729756,4.071429,3.917420,0.980975,0.879576
119145,29,4.051724,3.501542,10.369087,0.736619,4.051724,3.906816,0.979432,0.876594
119145,30,3.950000,3.501517,10.369190,0.743141,3.950000,3.834803,0.963955,0.760335
119145,31,3.935484,3.501517,10.369292,0.749348,3.935484,3.826709,0.962258,0.756530
119145,32,3.937500,3.501522,10.369395,0.755262,3.937500,3.830800,0.963390,0.757147
119145,33,3.939394,3.501527,10.369498,0.760903,3.939394,3.834702,0.963852,0.757867
119145,34,3.941176,3.501532,10.369601,0.766290,3.941176,3.838427,0.965086,0.758176
119145,35,3.957143,3.501542,10.369704,0.771440,3.957143,3.853011,0.969868,0.761518
119145,36,3.986111,3.501557,10.369807,0.776367,3.986111,3.877749,0.974496,0.765631